body {
    font-family: 'Roboto', sans-serif;
}
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}
/* For 1) */
.row {
    height: 50px;
    width: max-content;
    display: flex;
}
.cell {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid #6d4933;
}
.white {
    background-color: #ffffff;
    color: #000000;
}
.black {
    background-color: #6d4933;
    color: #ffffff;
}
/* For 2) */
.header {
    font-size: 1.5rem;
    font-weight: bold;
}
.table {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
}
.hideButton {
    border: 1px solid black;
    border-radius: 6px;
    padding: 8px;
}
.hideButton:hover {
    background-color: #e2e2e2;
}
.hideCart {
    display: none;
}
.productCell {
    display: flex;
    align-items: center;
}
.image {
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.image:hover {
    opacity: 0.7;
}
.button {
    color: rgba(0, 0, 0, 0.87);
    width: 88px;
    height: 32px;
    margin-top: calc(50% - 8px);
    border-radius: 4px;
}
.button:hover {
    opacity: 0.7;
}
.remove {
    background-color: #f48fb1;
}
.add {
    background-color: #90caf9;
}

/* For Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    object-fit: contain;
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    max-height: 70vh;
}

.modal-content {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.arrow {
    position: absolute;
    top: 50%;
    color: #ffffff;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
.arrow:hover {
    opacity: 0.7;
}

.previous {
    left: 32px;
}

.next {
    right: 32px
}